<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
		<head>
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<style>
			* {
			  box-sizing: border-box;
			}

			/* Create two equal columns that floats next to each other */
			.column {
				float: left;
			  width: 50%;
			  padding: 10px;
			}

			/* Clear floats after the columns */
			.row:after {
			  content: "";
			  display: table;
			  clear: both;
			}
			</style>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="row">
				<div class="column">
				<h1>Pica Pica, I'm Erica!</h1>
				<p>
					I am a senior student at the <a href="https://umich.edu">University of Michigan Ann Arbor</a>.
					I major in <a href="https://lsa.umich.edu/math/">Honor Mathematics</a>
					and <a href="https://cse.engin.umich.edu/">Computer Science</a>.
				</p>
				<p>
					I am interested in origami, skating, and photography.
				</p>
				<p>
					My current favorite game is <a href="https://www.brainwright.com/products/display/8007">Manifold, The Origami Mind Bender Puzzle</a>.
				</p>
				</div>
				<div class="column">
					<p float="left">
  						<img src="photos/DSC00192.JPG" width="350" />
					</p>
				</div>
			</div>
			<footer>
	    		<ul>
	        		<li><a href="yuqingl@umich.edu">email</a></li>
	        		<li><a href="https://github.com/Erica-Liu">github.com/Erica-Liu</a></li>
				</ul>
			</footer>
		</body>
	</html>
