<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			<p float="left">
  				<img src="photos/DSC00192.JPG" width="300" />
				I am a senior student at the University of Michigan Ann Arbor.
				I major in Honor Mathematics and Computer Science.
				I am interested in origami, skating, and photography.
				My current favorite game is MindBender.
			</p>
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="yuqingl@umich.edu">email</a></li>
	        		<li><a href="https://github.com/Erica-Liu">github.com/Erica-Liu</a></li>
				</ul>
			</footer>
		</body>
	</html>
